@charset "ISO-8859-1";
:root {
    --active: #bbb;
    --hover: #ddd;
    --color: #212121;
    --border: 1px solid #bbb;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #ccc; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #aaa; 
  cursor: pointer;
}
h1 {
    color: red;
}
input {
    outline: none;
    padding: 0.2rem 0.4rem;
}
button {
    outline: none;
    padding: 0.2rem 0.4rem;
    border: var(--border);
}
button:hover {
    cursor: pointer;
    background-color: var(--hover);
    outline: none;
}
a {
    text-decoration: none;
    padding: 0.2rem 0.4rem;
    color: var(--color);
}
a:hover {
    background-color: var(--hover);
}
ul {
    list-style-type: none;
}
select, input {
    outline: none;
}
form {
    background-color: white;
}
textarea {
    padding: 0.25rem;
    width: 100%;
    outline: none;
}
.dialog {
    width: 100%;
    height: 100%;
    border: none;
    top: 0;
    left: 0;
}
.dialog .dialog-container {
    width: 100%;
    height: 100%;
    background-color: #212121;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dialog .dialog-content {
    background-color: white;
    border-radius: 0.5rem;
    padding: 0.25rem;
}
.dialog .dialog-content header {
    display: flex;
    justify-content: space-between;
    padding: 0.25rem 0.5rem;
    min-width: 150px;
}
.dialog .dialog-content main {
    padding: 0.25rem 0.5rem;
}
.dialog .dialog-btn-close {
    cursor: pointer;
    padding: 0.1rem 0.25rem;
}
/*  */
.tab {
    width: 100%;
    height: 100%;
    border: var(--border);
    display: flex;
    flex-direction: column;
}
.tab .tab-controls {
	display: flex;
	flex-basis: 25px;
	flex-shrink: 0;
}
.tab .tab-contents {
	flex-grow: 1;
}
.tab .active {
    background-color: var(--active);
}
.tab-contents .tab-content {
	width: 100%;
	height: 100%;
    display: none;
}