#mindmap-image {
    height: 100vh;
    padding: 1rem;
    overflow: auto;
}
#mindmap-image > div {
	width: 100%;
	height: 100%;
}
#mindmap div:nth-child(2) {
    height: 200px;
    overflow: auto;
    margin: 2rem 0;
}
#mindmap-node div:nth-child(1) {
    height: 200px;
    overflow: auto;
    margin: 2rem 0;
}
#mindmap-node div:nth-child(2) {
    margin-bottom: 2rem;
}